/*Alto logo de M de Memoria en menú*/
.sticky-left-side .custom-nav{
    margin-top: 90px;
}
/*cuadro del texto de los audios de programa de radio en index*/
.button {
    margin: 10px 0 0 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
/*Altura fija en mostrar audios en index*/
.content-grid {
    height: 250px;
}

.content-grid-2 {
    /*height: 250px;*/
}

/*ancho videos index*/
.video-container {
    padding-bottom:56.25%;
    height:0; overflow: hidden;
    position: relative;
}
.video{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}